body {
  font-family: "Noto Sans KR", sans-serif;
}

// 레이아웃

#mNav {
  display: none;
  position: absolute;
  top: 1.5625rem;
  right: 0.875rem;
}

#header {
  width: 100%;
  border-bottom: 0.0625rem solid #c6c6c6;
}

#banner {
  position: relative;
}

#movie {
  background-color: #f8f8f8;
}

#event {}

#opening {
  background: url(../img/bg01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 1.0625rem 0;
}

// 가운데 영역

.container {
  position: relative;
  width: 80rem;
  margin: 0 auto;
}

// 모바일 메뉴
.ham {
  display: block;
  width: 1.5625rem;
  height: 0.625rem;

  span {
    position: relative;
    display: block;
    width: 1.5625rem;
    height: 0.25rem;
    background: #39106a;

    &::before {
      position: absolute;
      content: "";
      width: 1.5625rem;
      height: 0.25rem;
      background-color: #39106a;
      left: 0;
      bottom: -0.4375rem;
    }

    &::after {
      position: absolute;
      content: "";
      width: 1.5625rem;
      height: 0.25rem;
      background-color: #39106a;
      left: 0;
      top: -0.4375rem;
    }
  }
}

// 로우 영역

.row {
  padding: 0 1.75rem;
}

// 헤더 영역

.header {
  display: flex;
  justify-content: space-between;

  h1 {
    em {
      padding: 0.9375rem 0.5rem 0.3125rem 0;
      display: inline-block;

      img {
        width: 9.6875rem;
      }
    }

    strong {
      display: block;
      position: absolute;
      left: 12.125rem;
      top: 1.375rem;

      img {
        width: 9.8125rem;
      }
    }
  }

  nav {
    ul {
      border-left: 0.0625rem solid #c6c6c6;
      display: flex;

      li {
        width: 6.4375rem;
        text-align: center;
        border-right: 0.0625rem solid #c6c6c6;

        a {
          display: block;
          padding: 1.1875rem 0.625rem;
          font-size: 1.0625rem;
          font-weight: 700;
          color: #444;
        }
      }
    }
  }
}

// 배너
.bannerMenu {
  position: absolute;
  left: 0;
  top: 1.25rem;
  width: 100%;
  // height: 100%;
  z-index: 10;

  a {
    color: #fff;
    transition: all 0.3s;

    &:hover {
      color: #c1c1c1;
    }
  }

  .container {
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .line {
        margin-right: 1.875rem;

        &::after {
          content: "";
          width: 0.0625rem;
          height: 0.875rem;
          background: #fff;
          position: absolute;
          right: -1.125rem;
          top: 0.125rem;
        }
      }

      .bmLeft {
        ul {
          li {
            position: relative;
            display: inline;
            margin-right: 1.875rem;
          }

          .total {
            margin-right: 1.25rem;

            a {
              font-size: 0.875rem;
              padding: 0.1875rem 0.625rem;
              display: inline-block;
              border: 0.0625rem solid #fff;
              transition: all 0.3s;

              &:hover {
                background-color: #fff;
                border-color: #000;
                color: #000;
              }
            }
          }
        }
      }

      .bmRight {
        display: flex;

        ul {
          li {
            position: relative;
            display: inline;
            text-align: center;
            margin-right: 1.25rem;
          }

          .white {
            margin-right: 0.625rem;

            a {
              width: 5rem;
              background-color: #fff;
              color: #3a0e6a;
              padding: 0.4375rem 1.875rem 0.5625rem 1.875rem;
              border: 0.0625rem solid #fff;
              display: inline;
            }
          }

          .purple {
            margin-right: 0;

            a {
              width: 5rem;
              background-color: #3a0e6a;
              color: #fff;
              padding: 0.4375rem 1.875rem 0.5625rem 1.875rem;
              border: 0.0625rem solid #6e40c4;
              display: inline;
            }
          }
        }
      }
    }
  }
}

/* 슬라이드 */
.slider {
  width: 100%;
  height: 37.5rem;

  .swiper-slide {
    .container {
      .row {
        h3 {
          font-size: 3.875rem;
          color: #fff;
          margin-top: 12.5rem;
        }

        p {
          font-size: 1.25rem;
          color: #fff;
        }
      }
    }
  }
}

.slider .ss1 {
  background: url(../img/swiper01.jpg) no-repeat center center;
  background-size: cover;
}

.slider .ss2 {
  background: url(../img/swiper01.jpg) no-repeat center center;
  background-size: cover;
}

.slider .ss3 {
  background: url(../img/swiper01.jpg) no-repeat center center;
  background-size: cover;
}

// 무비
.movie {
  padding: 6.25rem 0;

  .movieTitle {
    margin-bottom: 3.75rem;

    ul {
      display: flex;
      width: 53rem;
      margin: 0 auto;

      li {
        width: 13.125rem;
        text-align: center;
        border: 0.0625rem solid #c4c4c4;
        margin-left: -0.0625rem;
        // display: none;

        a {
          display: block;
          padding: 0.9375rem 0;
          font-size: 1.125rem;
          color: 41.625rem;
          font-weight: 700;
        }
      }

      li.active {
        a {
          background-color: #666;
          color: #fff;
        }
      }
    }
  }

  .movieChart {
    overflow: hidden;

    >div {
      >div {
        display: flex;
        justify-content: space-between;

        >div {
          display: inline-block;
          width: 18.25rem;

          .poster {
            position: relative;

            img {
              display: block;
            }

            .rank {
              position: absolute;
              top: 1.0625rem;
              left: 0;
              width: 3.125rem;
              height: 3.125rem;
              line-height: 3.125rem;
              background-color: #38116a;
              text-align: center;
              font-size: 1.375rem;
              box-shadow: 0.1875rem 0.1875rem 0.5rem rgba(0, 0, 0, 0.5);

              strong {
                color: #fff;
                text-shadow: 0.125rem 0.125rem 0.1875rem rgba(0, 0, 0, 1);
              }
            }

            .mx {
              position: absolute;
              top: 1.0625rem;
              right: 1.0625rem;

              span {
                width: 6.4375rem;
                height: 1.5625rem;
                display: block;
              }

              .m {
                background-position: 0 -4.6875rem;
              }

              .b {
                background-position: 0 -6.25rem;
              }
            }
          }

          .infor {
            background-color: #fff;
            padding: 1.0625rem;
            border: 0.0625rem solid #d9d9d9;

            h3 {
              color: #333;
              font-size: 1.875rem;
              font-weight: 700;
              margin-bottom: 1.25rem;

              strong {}

              span {
                width: 1.8125rem;
                height: 1.8125rem;
                display: inline-block;
                margin-top: 0.5625rem;
                background-color: #ccc;
                vertical-align: -0.125rem;
              }

              span.all {
                background-position: -5.4375rem -7.8125rem;
              }

              span.a12 {
                background-position: -3.625rem -7.8125rem;
              }

              span.a15 {
                background-position: 0rem -7.8125rem;
              }

              span.a19 {
                background-position: -1.8125rem -7.8125rem;
              }
            }

            .inforBtn {
              display: flex;
              justify-content: space-between;

              a {
                width: 49%;
                margin-right: 2%;
                text-align: center;
                background: #f2f2f2;
                font-size: 1.125rem;
                padding: 0.9375rem;
                box-sizing: border-box;
              }
            }
          }
        }
      }
    }
  }
}

// 이벤트

#event {
  overflow: hidden;

  .container {
    .row {
      .event {
        display: flex;
        position: relative;
        padding-top: 6.25rem;

        img {
          display: block;
        }

        h2 {
          position: absolute;
          top: 1.5625rem;
          font-size: 1.875rem;
          font-weight: bold;
          margin-bottom: 1.25rem;
        }

        .eventLeft {
          width: 66%;
          margin-right: 2%;

          .eventBox1 {
            float: left;
            width: 50%;
          }

          .eventBox2 {
            float: left;
            width: 50%;
          }
        }

        .eventRight {
          width: 32%;
        }
      }
    }
  }
}

// 오프닝

.opening {
  padding: 6.25rem 0;
  text-align: center;
  color: #bb9b51;

  h2 {
    span.grand {
      background-position: 0 -10.9375rem;
      display: inline-block;
      width: 20.625rem;
      height: 3.125rem;
    }
  }

  strong.date {
    background-position: 0 -14.0625rem;
    display: inline-block;
    width: 16.25rem;
    height: 2.8125rem;
  }

  p.desc {
    font-size: 2.1875rem;
    font-weight: 300;
    padding-bottom: 1.25rem;
    background: url(../img/bar.png) no-repeat bottom center;
    background-size: 100%;
  }

  .openBox {
    // overflow: hidden;
    display: flex;
    >div {
      width: 27.333%;
      margin: 4% 3% 0 3%;
      h3 {
        color: #fff;
        border: 0.0625rem solid #6e3abb;
        font-size: 1.1875rem;
        padding: 0.625rem 1.25rem;
        background-color: #551e9b;
        p {
          em {}

          strong {}
        }
      }
    }
  }
}