// 레이아웃

#mNav {
  display: none;
  position: absolute;
  top: 25px;
  right: 14px;
}

#header {
  width: 100%;
  border-bottom: 1px solid #c6c6c6;
}

#banner {
  position: relative;
}

// 가운데 영역

.container {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}

// 모바일 메뉴
.ham {
  display: block;
  width: 25px;
  height: 10px;

  span {
    position: relative;
    display: block;
    width: 25px;
    height: 4px;
    background: #39106a;

    &::before {
      position: absolute;
      content: "";
      width: 25px;
      height: 4px;
      background-color: #39106a;
      left: 0;
      bottom: -7px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 25px;
      height: 4px;
      background-color: #39106a;
      left: 0;
      top: -7px;
    }
  }
}

// 로우 영역

.row {
  padding: 0 28px;
}

// 헤더 영역

.header {
  display: flex;
  justify-content: space-between;

  h1 {
    em {
      padding: 15px 8px 5px 0;
      display: inline-block;

      img {
        width: 155px;
      }
    }

    strong {
      display: block;
      position: absolute;
      left: 194px;
      top: 22px;

      img {
        width: 157px;
      }
    }
  }

  nav {
    ul {
      border-left: 1px solid #c6c6c6;
      display: flex;

      li {
        width: 103px;
        text-align: center;
        border-right: 1px solid #c6c6c6;

        a {
          display: block;
          padding: 19px 10px;
          font-size: 17px;
          font-weight: 700;
          color: #444;
        }
      }
    }
  }
}

// 배너
.bannerMenu {
  position: absolute;
  left: 0;
  top: 20px;
  width: 100%;
  // height: 100%;
  z-index: 10;

  a {
    color: #fff;
    transition: all 0.3s;

    &:hover {
      color: #c1c1c1;
    }
  }

  .container {
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .line {
        margin-right: 30px;

        &::after {
          content: "";
          width: 1px;
          height: 14px;
          background: #fff;
          position: absolute;
          right: -18px;
          top: 2px;
        }
      }

      .bmLeft {
        ul {
          li {
            position: relative;
            display: inline;
            margin-right: 30px;
          }

          .total {
            margin-right: 20px;

            a {
              font-size: 14px;
              padding: 3px 10px;
              display: inline-block;
              border: 1px solid #fff;
              transition: all 0.3s;

              &:hover {
                background-color: #fff;
                border-color: #000;
                color: #000;
              }
            }
          }
        }
      }

      .bmRight {
        display: flex;

        ul {
          li {
            position: relative;
            display: inline;
            text-align: center;
            margin-right: 20px;
          }

          .white {
            margin-right: 10px;

            a {
              width: 80px;
              background-color: #fff;
              color: #3a0e6a;
              padding: 7px 30px 9px 30px;
              border: 1px solid #fff;
              display: inline;
            }
          }

          .purple {
            margin-right: 0;

            a {
              width: 80px;
              background-color: #3a0e6a;
              color: #fff;
              padding: 7px 30px 9px 30px;
              border: 1px solid #6e40c4;
              display: inline;
            }
          }
        }
      }
    }
  }
}

/* 슬라이드 */
.slider {
  width: 100%;
  height: 600px;

  .swiper-slide {
    .container {
      .row {
        h3 {
          font-size: 62px;
          color: #fff;
          margin-top: 200px;
        }

        p {
          font-size: 20px;
          color: #fff;
        }
      }
    }
  }
}

.slider .ss1 {
  background: url(../img/swiper01.jpg) no-repeat center center;
  background-size: cover;
}

.slider .ss2 {
  background: url(../img/swiper01.jpg) no-repeat center center;
  background-size: cover;
}

.slider .ss3 {
  background: url(../img/swiper01.jpg) no-repeat center center;
  background-size: cover;
}

// 무비
.movie {
  padding: 100px 0;

  .movieTitle {
    margin-bottom: 60px;

    ul {
      display: flex;
      width: 848px;
      margin: 0 auto;

      li {
        width: 210px;
        text-align: center;
        border: 1px solid #c4c4c4;
        margin-left: -1px;

        a {
          display: block;
          padding: 15px 0;
          font-size: 18px;
          color: 666px;
          font-weight: 700;
        }
      }

      li.active {
        a {
          background-color: #666;
          color: #fff;
        }
      }
    }
  }

  .movieChart {
    > div {
      display: flex;
      justify-content: space-between;

      > div {
        display: inline-block;
        width: 292px;
        height: 592px;

        // margin-right: 23px;
        &:last-child {
          // margin-right: 0;
        }

        // border: 1px solid #c4c4c4;
        .poster {
          position: relative;

          img {
            display: block;
          }

          .rank {
            position: absolute;
            top: 17px;
            left: 0;
            width: 50px;
            height: 50px;
            line-height: 50px;
            background-color: #38116a;
            text-align: center;
            font-size: 22px;
            box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);

            strong {
              color: #fff;
              text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
            }
          }

          .mx {
            position: absolute;
            top: 17px;
            right: 17px;

            span {
              width: 103px;
              height: 25px;
              display: block;
            }

            .m {
              background-position: 0 -75px;
            }

            .b {
              background-position: 0 -100px;
            }
          }
        }

        .infor {
          background-color: #fff;
          padding: 17px;
          border: 1px solid #d9d9d9;

          h3 {
            color: #333;
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 20px;

            strong {
            }

            span {
              width: 29px;
              height: 29px;
              display: inline-block;
              margin-top: 9px;
              background-color: #ccc;
              vertical-align: -2px;
            }

            span.all {
              background-position: -87px -125px;
            }

            span.a12 {
              background-position: -58px -125px;
            }

            span.a15 {
              background-position: 0px -125px;
            }

            span.a19 {
              background-position: -29px -125px;
            }
          }

          .inforBtn {
            display: flex;
            justify-content: space-between;

            a {
              display: inline-block;
              background-color: #f2f2f2;
              font-size: 18px;
              padding: 15px 26px;
            }
          }
        }
      }
    }
  }
}

// 미디어쿼리

@media (max-width: 1290px) {
  .container {
    width: 100%;
  }

  .header .nav ul li {
    width: 93px;

    a {
      font-size: 15px;
      padding: 17px 10px;
    }
  }

  .header h1 {
    em {
      padding: 11px 8px 5px 0;
    }

    strong {
      top: 19px;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}

@media (max-width: 1024px) {
  #mNav {
    display: block;
  }

  .nav {
    display: none;
  }

  .row {
    padding: 0 24px;
  }

  .header {
    justify-content: center;

    h1 {
      strong {
        left: 24px;
      }
    }
  }

  .bannerMenu {
    .bmLeft {
      ul {
        display: none;
      }
    }

    .bmRight {
      ul {
        &:first-child {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 960px) {
}

@media (max-width: 768px) {
  .row {
    padding: 0 16px;
  }

  #mNav {
    right: 6px;
  }

  .header {
    justify-content: left;

    h1 {
      strong {
        display: none;
      }
    }
  }
}

@media (max-width: 480px) {
}

@media (max-width: 320px) {
}
