body {
  font-family: "Noto Sans KR", sans-serif;
}

/* 스킵 메뉴 */
#skip {position: relative;}
#skip a {position: absolute; left: 0; top: -40px; width: 140px; line-height: 30px; border: 1px solid #fff; color: #fff; text-align: center; background: #333; }
#skip a:active,
#skip a:focus {top: 0;}

// 레이아웃

#mNav {
  display: none;
  position: absolute;
  top: 1.5625rem;
  right: 0.875rem;
}

#header {
  width: 100%;
  border-bottom: 0.0625rem solid #c6c6c6;
}

#banner {
  position: relative;
}

#movie {
  background-color: #f8f8f8;
}

#event {}

#opening {
  background: url(../img/bg01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 1.0625rem 0;
}

#new {}

#footer {background: #211f1f;}

// 가운데 영역

.container {
  position: relative;
  width: 80rem;
  margin: 0 auto;
}

// 모바일 메뉴
.ham {
  display: block;
  width: 1.5625rem;
  height: 0.625rem;

  span {
    position: relative;
    display: block;
    width: 1.5625rem;
    height: 0.25rem;
    background: #39106a;

    &::before {
      position: absolute;
      content: "";
      width: 1.5625rem;
      height: 0.25rem;
      background-color: #39106a;
      left: 0;
      bottom: -0.4375rem;
    }

    &::after {
      position: absolute;
      content: "";
      width: 1.5625rem;
      height: 0.25rem;
      background-color: #39106a;
      left: 0;
      top: -0.4375rem;
    }
  }
}

// 로우 영역

.row {
  padding: 0 1.75rem;
}

// 헤더 영역

.header {
  display: flex;
  justify-content: space-between;

  h1 {
    em {
      padding: 0.9375rem 0.5rem 0.3125rem 0;
      display: inline-block;

      img {
        width: 9.6875rem;
      }
    }

    strong {
      display: block;
      position: absolute;
      left: 12.125rem;
      top: 1.375rem;

      img {
        width: 9.8125rem;
      }
    }
  }

  nav {
    ul {
      border-left: 0.0625rem solid #c6c6c6;
      display: flex;

      li {
        width: 6.4375rem;
        text-align: center;
        border-right: 0.0625rem solid #c6c6c6;

        a {
          display: block;
          padding: 1.1875rem 0.625rem;
          font-size: 1.0625rem;
          font-weight: 700;
          color: #444;
        }
      }
    }
  }
}

// 배너
.bannerMenu {
  position: absolute;
  left: 0;
  top: 1.25rem;
  width: 100%;
  // height: 100%;
  z-index: 10;

  a {
    color: #fff;
    transition: all 0.3s;

    &:hover {
      color: #c1c1c1;
    }
  }

  .container {
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .line {
        margin-right: 1.875rem;

        &::after {
          content: "";
          width: 0.0625rem;
          height: 0.875rem;
          background: #fff;
          position: absolute;
          right: -1.125rem;
          top: 0.125rem;
        }
      }

      .bmLeft {
        ul {
          li {
            position: relative;
            display: inline;
            margin-right: 1.875rem;
          }

          .total {
            margin-right: 1.25rem;

            a {
              font-size: 0.875rem;
              padding: 0.1875rem 0.625rem;
              display: inline-block;
              border: 0.0625rem solid #fff;
              transition: all 0.3s;

              &:hover {
                background-color: #fff;
                border-color: #000;
                color: #000;
              }
            }
          }
        }
      }

      .bmRight {
        display: flex;

        ul {
          li {
            position: relative;
            display: inline;
            text-align: center;
            margin-right: 1.25rem;
          }

          .white {
            margin-right: 0.625rem;

            a {
              width: 5rem;
              background-color: #fff;
              color: #3a0e6a;
              padding: 0.4375rem 1.875rem 0.5625rem 1.875rem;
              border: 0.0625rem solid #fff;
              display: inline;
            }
          }

          .purple {
            margin-right: 0;

            a {
              width: 5rem;
              background-color: #3a0e6a;
              color: #fff;
              padding: 0.4375rem 1.875rem 0.5625rem 1.875rem;
              border: 0.0625rem solid #6e40c4;
              display: inline;
            }
          }
        }
      }
    }
  }
}

/* 슬라이드 */
.slider {
  width: 100%;
  height: 37.5rem;

  .swiper-slide {
    .container {
      .row {
        h3 {
          font-size: 3.875rem;
          color: #fff;
          margin-top: 12.5rem;
        }

        p {
          font-size: 1.25rem;
          color: #fff;
        }
      }
    }
  }
}

.slider .ss1 {
  background: url(../img/swiper01.jpg) no-repeat center center;
  background-size: cover;
}

.slider .ss2 {
  background: url(../img/swiper01.jpg) no-repeat center center;
  background-size: cover;
}

.slider .ss3 {
  background: url(../img/swiper01.jpg) no-repeat center center;
  background-size: cover;
}

// 무비
.movie {
  padding: 6.25rem 0;

  .movieTitle {
    margin-bottom: 3.75rem;

    ul {
      display: flex;
      width: 53rem;
      margin: 0 auto;

      li {
        width: 13.125rem;
        text-align: center;
        border: 0.0625rem solid #c4c4c4;
        margin-left: -0.0625rem;
        // display: none;

        a {
          display: block;
          padding: 0.9375rem 0;
          font-size: 1.125rem;
          color: 41.625rem;
          font-weight: 700;
        }
      }

      li.active {
        a {
          background-color: #666;
          color: #fff;
        }
      }
    }
  }

  .movieChart {
    overflow: hidden;

    >div {
      >div {
        display: flex;
        justify-content: space-between;

        >div {
          display: inline-block;
          width: 18.25rem;

          .poster {
            position: relative;

            img {
              display: block;
            }

            .rank {
              position: absolute;
              top: 1.0625rem;
              left: 0;
              width: 3.125rem;
              height: 3.125rem;
              line-height: 3.125rem;
              background-color: #38116a;
              text-align: center;
              font-size: 1.375rem;
              box-shadow: 0.1875rem 0.1875rem 0.5rem rgba(0, 0, 0, 0.5);

              strong {
                color: #fff;
                text-shadow: 0.125rem 0.125rem 0.1875rem rgba(0, 0, 0, 1);
              }
            }

            .mx {
              position: absolute;
              top: 1.0625rem;
              right: 1.0625rem;

              span {
                width: 6.4375rem;
                height: 1.5625rem;
                display: block;
              }

              .m {
                background-position: 0 -4.6875rem;
              }

              .b {
                background-position: 0 -6.25rem;
              }
            }
          }

          .infor {
            background-color: #fff;
            padding: 1.0625rem;
            border: 0.0625rem solid #d9d9d9;

            h3 {
              color: #333;
              font-size: 1.875rem;
              font-weight: 700;
              margin-bottom: 1.25rem;

              strong {}

              span {
                width: 1.8125rem;
                height: 1.8125rem;
                display: inline-block;
                margin-top: 0.5625rem;
                background-color: #ccc;
                vertical-align: -0.125rem;
              }

              span.all {
                background-position: -5.4375rem -7.8125rem;
              }

              span.a12 {
                background-position: -3.625rem -7.8125rem;
              }

              span.a15 {
                background-position: 0rem -7.8125rem;
              }

              span.a19 {
                background-position: -1.8125rem -7.8125rem;
              }
            }

            .inforBtn {
              display: flex;
              justify-content: space-between;

              a {
                width: 49%;
                margin-right: 2%;
                text-align: center;
                background: #f2f2f2;
                font-size: 1.125rem;
                padding: 0.9375rem;
                box-sizing: border-box;
              }
            }
          }
        }
      }
    }
  }
}

// 이벤트

#event {
  overflow: hidden;

  .container {
    .row {
      .event {
        display: flex;
        position: relative;
        padding-top: 6.25rem;

        img {
          display: block;
        }

        h2 {
          position: absolute;
          top: 1.5625rem;
          font-size: 1.875rem;
          font-weight: bold;
          margin-bottom: 1.25rem;
        }

        .eventLeft {
          width: 66%;
          margin-right: 2%;

          .eventBox1 {
            float: left;
            width: 50%;
          }

          .eventBox2 {
            float: left;
            width: 50%;
          }
        }

        .eventRight {
          width: 32%;
        }
      }
    }
  }
}

// 오프닝

.opening {
  padding: 6.25rem 0;
  text-align: center;
  color: #bb9b51;

  h2 {
    span.grand {
      background-position: 0 -10.9375rem;
      display: inline-block;
      width: 20.625rem;
      height: 3.125rem;
    }
  }

  strong.date {
    background-position: 0 -14.0625rem;
    display: inline-block;
    width: 16.25rem;
    height: 2.8125rem;
  }

  p.desc {
    font-size: 2.1875rem;
    font-weight: 300;
    padding-bottom: 1.25rem;
    background: url(../img/bar.png) no-repeat bottom center;
    background-size: 100%;
  }

  .openBox {
    // overflow: hidden;
    display: flex;

    >div {
      width: 27.333%;
      margin: 4% 3% 0 3%;

      h3 {
        color: #fff;
        border: 0.0625rem solid #6e3abb;
        font-size: 1.1875rem;
        padding: 0.625rem 1.25rem;
        background-color: #551e9b;

        p {
          em {}

          strong {}
        }
      }
    }
  }
}

// 새로운 영화

#new {
  .container {
    .row {
      .new {
        padding: 100px 0;

        h2 {
          font-size: 30px;
          font-weight: 500;
          margin-bottom: 20px;
          background-color: #888;
        }

        .newBox {
          display: flex;

          .newLeft {
            width: 100%;
            height: 500px;
            background: #ccc url(../img/new01.jpg) center center;
            background-size: cover;

          }

          .newRight {
            width: 400px;
            height: 500px;
            padding: 34px;
            box-sizing: border-box;
            background: #f0f0f0;

            .title {
              font-size: 28px;
              color: #000;
            }

            .release {
              font-size: 12px;
              color: #333;
            }

            .star {
              padding: 13px 0;

              strong {
                font-size: 15px;
                padding-left: 5px;
              }

              span {
                display: inline-block;
                width: 20px;
                height: 20px;
                vertical-align: -3px;
              }

              .star1 {
                background-position: -393px 0;
              }

              .star2 {
                background-position: -412px 0;
              }

              .star0 {
                background-position: -374px 0;
              }
            }

            .summary {
              font-size: 14px;

              .genre {
                padding-bottom: 3px;
              }

              .age {
                padding-bottom: 10px;
              }

              .desc {
                margin-bottom: 20px;
                height: 108px;
                overflow: hidden;
              }
            }

            .select {
              overflow: hidden;

              .s1 {
                float: left;
                width: 49%;
                background: #000;
                margin-right: 2%;
              }

              .s2 {
                float: left;
                width: 49%;
                background: #000;
              }

              .s3 {
                // clear: both;
                width: 100%;
                margin-top: 17%;
                // padding-top: 20px;
              }
            }

            .btn {
              overflow: hidden;
              margin-top: 2%;
              text-align: center;

              a {
                width: 49%;
                box-sizing: border-box;
                display: block;
                padding: 10px 30px 12px 30px;
              }

              a.white {
                float: left;
                background-color: #fff;
                margin-right: 2%;
                color: #3a0e6a;
                border: 1px solid #3a0e6a;
              }

              a.purple {
                float: left;
                background-color: #3a0e6a;
                color: #fff;
                border: 1px solid #6e40c4;
              }
            }
          }
        }
      }
    }
  }
}

/* help */
.help {overflow: hidden; padding-bottom: 200px;}
.help article {float: left; width: 32%; margin-right: 2%; height: 350px; }
.help article > div {border: 1px solid #dbdbdb; height: 350px;}
.help article.help_box3 {margin-right: 0;}
.help article.help_box3 > div {border: 0;}
.help article h3 {font-size: 30px; font-weight: 500; margin-bottom: 20px;}

/* 공지사항 */
.notice {position: relative; padding: 17px;}
.notice ul {overflow: hidden;}
.notice ul li {float: left; text-align: center; margin-right: -1px;}
.notice ul li a {border: 1px solid #dbdbdb; font-size: 15px; color: #666; display: block; width: 80px; padding: 10px 20px; background-color: #f5f5f5;}
.notice ul li.active a {background-color: #fff;}
.notice ul li ul {position: absolute; left: 17px; top: 70px; width: 90%;}
.notice ul li ul li {width: 100%; box-sizing: border-box; text-align: left; padding: 17px; border-bottom: 1px solid #dbdbdb;}
.notice ul li ul li:last-child {border-bottom: 0;}
.notice ul li ul li dt em {color: #999;}
.notice ul li ul li dt .bar {position: relative; padding-right: 14px;}
.notice ul li ul li dt .bar:after {content: ''; position: absolute; right: 4px; top: 5px; width: 1px; height: 10px; background: #999;}
.notice ul li ul li dd {color: #777; padding-top: 3px; }
.notice ul li ul li a {border: 0; padding: 0; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

/* 할인카드 */
.card {padding: 17px;}
.card ul li {position: relative; border: 1px solid #d7d7d7; padding: 17px; margin-bottom: 17px; min-height: 102px; box-sizing: border-box;}
.card ul li span {position: absolute; left: 17px; top: 17px;}
.card ul li span img {width: 105px;}
.card ul li strong {display: block; font-size: 18px; color: #777; padding-left: 120px;}
.card ul li em {display: block; font-size: 14px; color: #777; font-weight: 300; padding-left: 120px;}

/* 고객센터 */
.service ul {overflow: hidden;}
.service li {float: left; width: 50%; height: 193px; box-sizing: border-box; border: 1px solid #d7d7d7; text-align: center;}
.service li a span {display: block; width: 120px; height: 120px; margin: 20px auto 0 auto; overflow: hidden;}
.service li a strong {color: #666; font-size: 18px; font-weight: 500;}
.service li:nth-child(1) {border-right: 0; border-bottom: 0;}
.service li:nth-child(2) {border-bottom: 0;}
.service li:nth-child(3) {border-right: 0;}

/* 푸터 */
.footer_sns {position: absolute; right: 17px; top: 33px; z-index: 1;}
.footer_sns li {display: inline-block; width: 36px; height: 36px; margin-left: 4px;}
.footer_sns li.s1 {background-position: 0 -375px;}
.footer_sns li.s2 {background-position: -36px -375px;}
.footer_sns li.s3 {background-position: -72px -375px;}
.footer_sns li.s4 {background-position: -108px -375px;}
.footer_sns li.s5 {background-position: -144px -375px;}
.footer_sns li.s1:hover {background-position: 0 -411px;}
.footer_sns li.s2:hover {background-position: -36px -411px;}
.footer_sns li.s3:hover {background-position: -72px -411px;}
.footer_sns li.s4:hover {background-position: -108px -411px;}
.footer_sns li.s5:hover {background-position: -144px -411px;}
.footer_sns .tel {text-align: right; padding-top: 5px;}
.footer_sns .tel a {color: #8f8f8f; font-size: 21px;}
.footer_sns .tel a em {color: #fff;}

.footer_infor {padding: 50px 0; width: 80%;}
.footer_infor h2 img {width: 150px;}
.footer_infor ul {padding: 15px 0;}
.footer_infor li {position: relative; display: inline; padding-right: 16px; white-space: nowrap;}
.footer_infor li:after {content: ''; position: absolute; right: 5px; top: 5px; width: 1px; height: 11px; background: #8f8f8f;}
.footer_infor li:last-child:after {width: 0; height: 0;}
.footer_infor li a {color: #8f8f8f;}
.footer_infor address p {color: #8f8f8f; padding-bottom: 15px;}